<div class="house">
  <div class="info-block">
    <div class="info-block_header row">
      <div class="house_image col-md-2">
        <div class="img_container">
          <img src="{{house.thumb_url}}" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <a target="_blank"
           [routerLink]="['/single']"
           (click)="sendHouseInfo(house)"
           class="house-title">{{house.title}}</a>
      </div>

      <div class="price col-md-2">{{house.price_formatted}}</div>
      <div class="col-md-2 text-right">
        <a (click)="toggleFavorites();" [ngClass]="{
            'gold' : house.isInFavorites,
            'glyphicon-star': house.isInFavorites,
            'glyphicon-star-empty': !house.isInFavorites}"
           class="favorites glyphicon" tooltipPlacement="right" tooltip="Add to favorites"></a>
      </div>
    </div>
  </div>
</div>
