<div class="header">
  <div class="page-header">
    <div class="btn-container">
      <a *ngIf="router.url === '/search'" [routerLink]="['/favorites']"
        class="btn btn-primary">Favorite</a>
      <a *ngIf="router.url === '/favorites'" [routerLink]="['/search']"
         class="btn btn-primary">Home</a>
      <a *ngIf="router.url === '/single'" [routerLink]="['/search']"
         class="btn btn-primary">Home</a>
      <a *ngIf="router.url === '/single'" [routerLink]="['/favorites']"
         class="btn btn-primary">Favorite</a>
    </div>
  </div>
</div>
