<div class="container" *ngIf="house">
  <div class="row">
    <div class="house col-md-12">
      <div class="col-md-6">
        <div class="house_image">
          <div class="img_container">
            <img src="{{ house.img_url }}" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="wrapper">
          <div class="row">
            <h2 class="house-title">{{ house.title }}</h2>
            <div class="price-block">
              <div class="price">
                <span class="price-amount">{{ house.price_formatted }}</span>
                <span class="price-type">{{ house.price_type }} </span>
              </div>
              <div class="comission">{{ house.comission }}</div>
            </div>
          </div>
          <div class="misc-info">
            <p class="lister_info" *ngIf="house.lister_name">
              Full record:
              <a href="{{ house.lister_url }}" target="_blank">{{ house.lister_name }}</a>
            </p>
            <p class="summary">{{ house.summary }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
